[core]
    editor = "micro"
    pager = "diff-so-fancy | less --tabs=4 -RFX"
[interactive]
    diffFilter = "diff-so-fancy --patch"
[color]
    ui = true
    diff-highlight.oldNormal = "red bold"
    diff-highlight.oldHighlight = "red bold 52"
    diff-highlight.newNormal = "green bold"
    diff-highlight.newHighlight = "green bold 22"
    diff.meta = "11"
    diff.frag = "magenta bold"
    diff.func = "146 bold"
    diff.commit = "yellow bold"
    diff.old = "red bold"
    diff.new = "green bold"
    diff.whitespace = "red reverse"
